html {
    box-sizing: border-box;
}

.navbar {
    background-color: lightgray;
    box-sizing: border-box;
    display: flex;
}
.navbar-brand{
    display: inline-block;
}

.navbar-text {
    flex-direction: row;
    padding-top: .2em;
    padding-bottom: .2em;
    /*text-align: center;*/
    font-size: 3em;
    margin: auto;

}

.icon1 {
    height: 1.5em;
    width: 1.5em;


}

.icon2 {
    height: 2em;
    width: 2em;
}

.icon3 {
    height: 2em;
    width: 2em;
}

