body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    width: 80%;
    color: rebeccapurple;
    background-color: cornflowerblue;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;

}

.message-success {
    width: 80%;
    color: lightgreen;
    background-color: green;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

.message.message-warning {
    width: 80%;
    color: yellow;
    background-color: yellowgreen;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

.message-error {
    width: 80%;
    color: lightcoral;
    background-color: mediumvioletred;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}